/* styles.css */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* Ensure the body takes at least the full viewport height */

	font-family: 'Arial', sans-serif;
	margin: 0;

	background-color: #f4f4f4;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
}

section {
	width: 90%;
	margin: 2rem auto;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	flex: 1;
}

footer {
	text-align: center;
	padding: 1rem;
	background-color: #333;
	color: #fff;
}

/* Changing color of hyperlinks */
a {
	color: #0077cc;
	/* Change this color to your preference */
	text-decoration: none;
	/* Remove underline by default, adjust as needed */
}

/* Changing color of hyperlinks on hover */
a:hover {
	color: #005580;
	/* Change this color to your preference */
}

/* Styling for the image */
img {
	max-width: 100%;
	/* Make the image responsive */
	height: auto;
	/* Maintain aspect ratio */
	display: block;
	/* Remove extra space below the image */
	margin: 1rem auto;
	/* Adjust margin as needed */
}